@font-face {
  font-family: "iconfont"; /* Project id 5054960 */
  src: url('iconfont.woff2?t=1761985036568') format('woff2'),
       url('iconfont.woff?t=1761985036568') format('woff'),
       url('iconfont.ttf?t=1761985036568') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e620";
}

.icon-AI_zhihuzhida_rengongzhineng:before {
  content: "\e75f";
}

.icon-touxiang:before {
  content: "\e61a";
}

.icon-shouye:before {
  content: "\e625";
}

.icon-news:before {
  content: "\e631";
}

