@font-face {
  font-family: "iconfont"; /* Project id 5044705 */
  src: url('iconfont.woff2?t=1760939407692') format('woff2'),
       url('iconfont.woff?t=1760939407692') format('woff'),
       url('iconfont.ttf?t=1760939407692') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31saoma:before {
  content: "\e600";
}

.icon-xihuan:before {
  content: "\e761";
}

.icon-yigouxiangmu:before {
  content: "\e65c";
}

.icon-tianjia:before {
  content: "\e638";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-shoucang:before {
  content: "\e86d";
}

.icon-qianbao:before {
  content: "\e61b";
}

.icon-bangzhuzixun:before {
  content: "\e660";
}

.icon-shu_o:before {
  content: "\eb4d";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-guanzhu:before {
  content: "\e62e";
}

.icon-yueduye-yejianmoshi:before {
  content: "\e620";
}

.icon-shouye:before {
  content: "\e8a6";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-xiaoxi:before {
  content: "\e612";
}

.icon-tianjia1:before {
  content: "\e632";
}

.icon-kecheng:before {
  content: "\e721";
}

.icon-dakaqiandao:before {
  content: "\f8fa";
}

.icon-quanzi:before {
  content: "\e610";
}

